$navbarColor:#3b474f;
$registerBtnColor:#8ef4e0;
$smmBgColor:#cef4f4;
$knowMoreBtn1:#3b474f;
$wddBgColor:#597e89;
$knowMoreBtn2:#bef2e5;
$gdBgColor:#2b3c3f;
$KnowMoreBtn3:#bef2e5;
$wcuTitleColor:#276a6d;
$carouselIndicatorColor:#b5b5b5;
$footerBgColor:#0b2d35;

//FONT
@font-face {
    font-family: bahnschrift;
    src: url(../webfonts/BAHNSCHRIFT.woff);
}
*{
    font-family: bahnschrift;
}
body{
    width: 100vw;
    margin:0;
    height:100vh;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
// FIRST BACKGROUND IMAGE
.overlay1{
    width:100%;
    height:90vh;
    margin:0;
    position: absolute;
    top:10vh;
    background-image: url(../assets/backg1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index:-1;
}

//MAIN NAVBAR
.navbar{
    min-height:10vh;
    background-color: white;
    border:0;
    .navcont{
        width:90%;
        margin: auto;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom:1px solid white;
        padding:5px 15px;
        .navbar-brand{
            height:10vh;
            padding:0;
        }
        .flexbox{
            width:70%;
            z-index: 4;
            .sub-nav{
                width:80%;
                margin: auto;
                margin-right:0;
                list-style-type: none;
                padding-left:0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                z-index: 4;
                .item{
                    justify-content: space-between;
                    text-decoration: none;
                    .subnav-link{
                        font-family:  bahnschrift;
                        font-size: 14px;
                        font-weight: 600;
                        color:$knowMoreBtn1;
                        margin-bottom: 3px;
                    }
                    .subnav-nav-link{
                        font-family: bahnschrift;
                        font-size: 12px;
                        font-weight: 500;
                        color:$knowMoreBtn1;
                    }
                }
                .item:hover{
                    border-bottom: 1px solid white;
                }
            }
        }
    }
    .hamburger{
        display: none;
    }
}
.navbar-toggle{
    border:none;
}
.navbar-toggle:hover{
    background-color: transparent;
}
#l1{
    color:black;
    font-weight: 500;
    font-family: bahnschrift;
    font-size: 14px;
}
#l2{
    color:white;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 50rem;
    padding:5px 15px 5px 15px;
    background-color: black;
    margin-right:15px;
}
#l3{
    color:black;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 50rem;
    padding:5px 18px 5px 18px;
    background-color: white;
}

//HERO TEXT WRAPPER
.hero-text-wrapper{
    padding-top:14vh;
    width:100%;
    z-index: 4;
    .hero-text-container{
        width:80%;
        margin:auto;
        text-align: center;
        #hero-text{
            font-family:bahnschrift;
            font-weight: 800;
            font-size: 4vw;
            color:$knowMoreBtn1;
        }
    }
    .hero-text-2-container{
        width:80%;
        margin:4vh auto;
        text-align: center;
        padding:0px;
        #hero-text-2{
            font-family: bahnschrift;
            font-weight: normal;
            font-size: 2vw;
            color:white;
            background-color: $knowMoreBtn1;
            border-radius: 50rem;
            padding:10px 20px;
        }
    }
}

//SERVICE CARDS
.card-wrapper{
    width:100%;
    height: 50%;
    position: absolute;
    top:60vh;
    .card-container{
        width:80%;
        margin:auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .card-content{
            background-color: white;
            padding:20px 0px 20px 0px;
            border: 1px solid white;
            border-radius: 20px;
            box-shadow: -6px 7px 16px 4px rgba(82,82,82,1);
            text-align: center;
            #card-text{
                color:black;
                font-family: bahnschrift;
                font-weight: 600;
                font-size: 14px;
            }
            .row-wrapper-header{
                margin:0px 0px 20px;
            }
            #card-header-icon{
                background-color: $knowMoreBtn1;
                color:white;
                border-radius:50rem;
            }
            .icon-1{
                padding:20px 27.5px;
            }
            .icon-2{
                padding:20px 18px;
            }
            .icon-3{
                padding:20px;
            }
            .icon-4{
                padding:20px 24.5px;
            }
            #row-wrapper-footer{
                display: none;
                #right-arrow{
                    i{
                        color:white;
                        background-color: $registerBtnColor;
                        padding:5px 12px;
                        border-radius: 50rem;
                    }
                }
            }
        }
    }
}
.active{
    display: block;
}
 //BUSINESS SECTION 1
 #business-section{
     position:absolute;
     top:90vh;
     width:100%;
     margin:auto;
     #crow1{
        padding-bottom:50px;
        .crow1-heading{
            padding: 50px 5px 10px 5px;
        }
     }
     .text-area{
         padding-top: 50px;
         #bs1a{
             font-family:bahnschrift;
             font-weight: 900;
             font-size: 35px;
         }
         #text-sec1,#text-sec2,#text-sec3{
             padding-right: 20px;
             padding-left: 20px;
         }
     }
     #ntb-r-btn{
         padding-top: 50px;
         #ntb-text{
             padding:5px 2px;
             font-family: bahnschrift;
             font-size: 15px;
             font-weight: 500;
         }
         .btn{
             color: white;
             font-family:bahnschrift;
             background-color: #008080ba;
             border:1px solid #008080ba;
             border-radius: 50rem;
             padding:5px 15px 5px 15px;
         }
     }
 }

 //BUSINESS SECTION 2
 #crow2{
     background-color: $smmBgColor;
     padding:0px;
     width:100%;
     .first-half{
         padding:50px 50px 0px 50px;
     }
     .heading{
        font-family: bahnschrift;
        font-size: 40px;
        font-weight: 800;
        color:black;
        padding:20px;
     }
     .s-text{
        font-family: bahnschrift;
        font-size: 15px;
        font-weight: 400;
        color:black; 
        padding:20px;
     }
     .button-section2{
         margin-top:10%;
         .container{
             width:50%;
             margin:auto;
             margin-bottom:10px;
         }
        .know-more{
            border: 1px solid $knowMoreBtn1;
            border-radius: 50rem;
            padding:5px 15px 5px 15px;
            font-family: bahnschrift;
            font-size: 15px;
            background-color: $knowMoreBtn1;
            color:rgb(185, 185, 185);
        }
     }
     #illustration-2{
        .container{
            width:100%;
            padding:0;
            margin: auto;
            .illustration-align{
                padding:0;
            }
        }
     }
}

// BUSINESS SECTION 3
#crow3{
    padding:50px 20px 50px 20px;
    .row{
        .container{
            width:95%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .card{
                background-color: $knowMoreBtn1;
                color:white;
                border-radius: 15px;
                margin:10px;
                .card-body{
                    padding:20px;
                    .card-title{
                        font-family:bahnschrift;
                        font-size: 24px;
                        font-weight: 500;
                        padding-bottom:15px;
                        .glyphicon{
                            display: none;
                        }
                    }
                    .card-text{
                        padding-bottom:50px;
                        font-family: bahnschrift;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
#crow4{
    width:100%;
    padding:0px;
    background-color: $wddBgColor;
    .first-half{
        padding:50px 0px 0px 50px;
    }
    .heading{
        font-family: bahnschrift;
        font-size: 40px;
        font-weight: 800;
        color:white;
        padding:20px;
     }
     .s-text{
        font-family: bahnschrift;
        font-size: 15px;
        font-weight: 400;
        color:white; 
        padding:20px;
     }
     .button-section2{
         margin-top:10%;
        .container{
             width:50%;
             margin:auto;
             margin-bottom:10px;
        }
        .know-more{
            border: 1px solid $knowMoreBtn2;
            border-radius: 50rem;
            padding:5px 15px 5px 15px;
            font-family: bahnschrift;
            font-size: 15px;
            background-color: $knowMoreBtn2;
            color:rgb(43, 43, 43);
        }
    }
    #illustration-3{
        .container{
            width:100%;
            margin: auto;
            padding:0;
            .illustration-align{
                padding:0;
            }
        }
    }
}
#crow5{
    width:100%;
    padding:0px;
    background-color: $gdBgColor;
    .first-half{
        padding:50px 0px 0px 50px;
    }
    .heading{
        font-family: bahnschrift;
        font-size: 40px;
        font-weight: 800;
        color:white;
        padding:20px;
     }
     .s-text{
        font-family: bahnschrift;
        font-size: 15px;
        font-weight: 400;
        color:white; 
        padding:20px;
     }
     .button-section2{
         margin-top:5%;
        .container{
             width:50%;
             margin:auto;
             margin-bottom:10px;
        }
        .know-more{
            border: 1px solid $KnowMoreBtn3;
            border-radius: 50rem;
            padding:5px 15px 5px 15px;
            font-family: bahnschrift;
            font-size: 15px;
            background-color: $KnowMoreBtn3;
            color:rgb(43, 43, 43);
        }
    }
    #illustration-4{
        .container{
            width:100%;
            margin: auto;
            padding:0;
            .illustration-align{
                padding:0;
            }
        }
    }
}
#crow6{
    width: 100%;
    padding:50px;
    .container{
        width: 95%;
        padding:0px 100px 20px 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .timeline-dot{
            width:24px;
            height:24px;
            border:1px solid #5353534f;
            background-color: #5353534f;
            border-radius: 50%;
            display: flex;
            align-items: center;
            .timeline-dot2{
                position: relative;
                display: inline-block;
                width:10px;
                height:10px;
                border:1px solid #3f3f3f6e;
                background-color: #3f3f3f6e;
                border-radius: 50%;
                margin: auto;
                top:auto;
            }
        }
        #hr{
            width:48%;
            height:24px;
            margin-top: 10px;
            hr{
                height:1px;
                background-color:#5353534f;
                margin:0;
            }
        }
    }
    .text-cont{
        width: 100%;
        padding:40px 10px 20px 10px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .timeline-text{
            margin:0;
            font-family: bahnschrift;
            font-size: 20px;
            color:#5353534f;
        }
    }
    .timeline-dot:hover{
        box-shadow: -1px -1px 10px 4px rgba(0,0,0,0.1);
    }
}
#crow6-mobile{
    display:none;
}
#crow7{
    .container{
        width:90%;
    }
    background-color: $footerBgColor;
    color:white;
    .footer{
        width:95%;
        padding:50px 0px 40px 0px;
    }
    .l1{
        img{
            width:100%;
            height:100%;
            padding:0px;
        }
    }
    .l2{
        padding-bottom: 70px;
        .l2-text{
            padding:0;
            font-size: 15px;
        }
    }
    .l3{
        .l3-text{
            padding-left:0;
            padding:20px 0px 20px -15px;
            font-family: bahnschrift;
            font-size: 20px;
        }
    }
    .l4{
        .l4-text{
            padding-left:0;
            padding-top:20px;
            font-size: 15px;
        }
    }
    .footer-right{
        padding:50px 10px 20px 20px;
        .row{
            padding:10px;
            .heading{
                font-family: bahnschrift;
                font-size: 20px;
            }
        }
    }
    .footer-form{
        width:90%;
        padding:20px 0px;
        margin:0;
        max-width:300px;
        display: inline-block;
        .form-group{
            display: flex;
            #submit-glyph{
                padding:5px 10px 5px 10px;
            }
        }
    }
}
.footer-ending-mobile{
    display:none;
}
//FOOTER ICON
.footer-link{
    margin:5px;
    color: white;
}
.footer-icon-header{
    font-family:bahnschrift;
    font-size: 22px;
    margin:10px;
}
.footer-ending{
    padding: 50px;
}
.f-container{
    width:85%;
    display: flex;
    justify-content: space-between;
    align-items: sta;
    text-align: left;
}
.r1,.r2,.r3,.r4{
    padding-left:0;
}
.r11,.r22,.r33,.r44{
    padding:0;
    width:25px;
}
#service-cards-xs,#register-section ,.footer-form-mobile {
    display: none;
}
//--------MEDIA QUERIES---------
@media screen and (max-width:768px){
    .overlay1{
        display:none;
    }
    //MAIN NAVBAR
    .navbar{
        min-height:15vh;
        border:1px solid teal;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius:20px;
        .navcont{
            width:100%;
            border-bottom: none;
            padding:20px;
            .navbar-header{
                display:flex;
                align-items: center;
                justify-content:space-around;
                .navbar-brand{
                    padding:0;
                    img{
                        width:150px;
                        height:20px;
                    }
                }
                .hamburger{
                    display:block;
                    .ham{
                        background-color: white;
                        width:25px;
                        height:3px;
                        margin:5px;
                    }
                }
            }
        }
    }
    .navbar-inverse{
        background-color: $navbarColor;
        color:black;
    }
    .navbar-toggle{
        border:none;
    }
    .navbar-toggle:hover{
        background-color: transparent;
    }
    #slider-content{
        padding:20px;
    }
    #slider{
        background-color: #60efdb; 
        border-radius: 24px; 
        border-top-left-radius: 0px;
        height: 100vh;
    }
    .slider-header{
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        .glyphicon{
            color:rgb(26, 26, 26);

        }
    }
    #contents h4 {
        color: white;
    }
    #contents .subnav-nav-link {
        color: rgba(253, 250, 250, 0.664);
    }
    #slider-main #slider-head #slider #slider-content #contents li {
        padding-top: 25px;
    } 
    .slider-main{
        transform:translateX(100%);
        position: absolute;
        z-index: 2;
        transition: 0.4s;
        #contents{
            height:50vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .active{
        transform:translateX(0%);
        transition: 0.4s;
    }
    //SERVICE TABS MOBILE
    .card-wrapper,.flexbox,.hero-text-wrapper{
        display: none;
    }
    #service-cards-xs{
        width:95%;
        margin:auto;
        padding-top:30px;
        padding-bottom:30px;
        display: block;
        .service-tab-grid{
            margin:20px auto;
            .service-card-content-xs{
                margin:auto;
                box-shadow: 0px 0px 40px -2px rgb(161, 161, 161);
                border-radius:5px;
                display: flex;
                align-items: center;
                padding-top:10px;
                padding-bottom:10px;
                .service-symbol{
                    padding:0;
                    i{
                        background-color: $navbarColor;
                        padding:8px 11px;
                        border-radius: 50rem;
                        color:white;
                        font-size:12px;
                    }
                    #code-sym2{
                        padding:8px 7px;
                    }
                    #code-sym3{
                        padding:8px 8px;
                    }
                }
                .service-tab-content{
                    font-family:bahnschrift;
                    font-size:12px;
                    padding:0px;
                    text-align: center;
                    margin:auto;
                }
            }
        }
    }
    #service-tab-graphics{
        margin:20px auto;
    }
    #grid3{
        display: flex;
        justify-content: center;
        padding:0;
    }
    #register-section{
        margin:20px auto;
        display: block;
        .register-section-content{
            display:flex;
            align-items: center;
            #register-section-text{
                font-size:12px;
                padding-right:0;
                text-align: center;
            }
            .register-btn-wrapper{
                display: block;
                padding-left: 0;
                .register-btn{
                    color: white;
                    font-family:bahnschrift;
                    background-color: $registerBtnColor;
                    border:1px solid $registerBtnColor;
                    border-radius: 50rem;
                    padding:5px 15px 5px 15px;
                }
            }
        }
    }
    //END SERVICE TABS MOBILE


    //BUSINESS SECTION
    #business-section{
        transform: translateY(-30vh);
    }

    //UNMATCHED SERVICES
    #crow1{
        width:95%;
        margin:auto;
        .text-area{
            padding-top: 0px;
            #heading{
                padding: 10px 5px 10px 5px;
            }
        }
    }
    #text-sec1 .ser{
        text-align: center;
        font-size: 25px;
    }
    #text-sec1 .exe{
        text-align: center;
        font-size: 25px;
    }
    #text-sec2 {
        padding-top: 16px;
        text-align:center;
        font-size: 12px;
        width:90%;
        margin: auto;
    }
    #text-sec3, #ntb-r-btn, #bs1-illustration {
        display: none;
    }
    #serv-img{
        display: none;
    }
    //END UNMATCHED SERVICES

    //SOCIAL MEDIA MARKETING
    #crow2{
        border-radius: 20px;
        padding: 30px 15px;
        .row{
            display: flex;
            flex-direction: column-reverse;
            #scl-mkt1{
                font-size: 18px;
                font-weight: bold;
                font-family: bahnschrift;
                text-align: center;
                padding:0;
            }
            #scl-mkt2{
                font-size:12px;
                text-align: center;
                padding:8px;
            }
            .button-section2{
                .container{
                    text-align: center;
                }
            }
            #illustration-2{
                width: 100%;
                padding-bottom: 20px;
                .container{
                    width:90%;
                    margin:auto;
                }
            }
        }
    }
    //END SOCIAL MEDIA MARKETING

    //STRATEGY , CONTENT ,PLATFORM
    #crow3{
        #card-text{
            display: none;
        }
    }
    #crow3 .row .container {
        width:100%;
        padding:0px;
    }
    #crow3 .row .container .card {
        height: 30px;
        border-radius: 50rem;
        width:98%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin:10px auto;
        .card-body{
            padding:0px;
            width:85%;
            margin:auto;
            .card-title{
                padding:0px;
                display: flex;
                justify-content: space-between;
                span{
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                }
                .glyphicon{
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    // END STRATEGY, CONTENT, PLATFORM

    //WEB DEVELOPMENT & DESIGN
    #crow4{
        border-radius: 20px;
        padding: 30px 15px;
        .row{
            display: flex;
            flex-direction: column-reverse;
            #web-dev1{
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                padding:0px;
            }
            #web-dev2{
                font-size:12px;
                text-align: center;
                padding:20px;
            }
            .button-section2{
                .container{
                    text-align: center;
                }
            }
        }
        #illustration-3{
            .container{
                width:100%;
                padding-bottom:20px;
            }
        }
    }
    //END WEB DEVELOPMENT & DESIGN

    //GRAPHIC DESIGN
    #crow5{
        border-radius: 20px;
        padding: 30px 15px;
        .row{
            display: flex;
            flex-direction: column-reverse;
            #gr-ds1{
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                padding:10px;
            }
            #gr-ds2{
                font-size:12px;
                text-align: center;
                padding:10px 20px;
            }
            .button-section2{
                padding-bottom: 20px;
                .container{
                    text-align: center;
                }
            }
        }
        #illustration-4{
            .container{
                width:100%;
                padding-bottom:20px;
            }
        }
    }
    //END GRAPHIC DESIGN

    //WHY CHOOSE US
    #crow6{
        display: none;
    }
    #crow6-mobile{
        display: block;
        padding-top:30px;
        padding-bottom: 10px;
        #crow6-mobile-heading{
            font-size:25px;
        }
        #whyChooseUs{
            padding-bottom:40px;
        }
        .indicators{
            display:block;
            height:20px;
            .carousel-indicators{
                li{
                    background-color:$carouselIndicatorColor;
                }
            }
        }
        .item{
            padding-top:30px;
            padding-bottom:40px;   
            width:95%;
            margin:auto;    
        }
        .items{
            padding:20px;
            .card{
                padding:25px;
                border-radius: 10px;
                box-shadow: 0px 0px 16px 4px rgba(82,82,82,1);
                .card-title{
                    text-align: center;
                    font-family: bahnschrift;
                    font-size: 20px;
                    color:$wcuTitleColor;
                    padding-bottom: 10px;
                }
                .card-text{
                    text-align: center;
                }
            }
        }
    }
    //END WHY CHOOSE US

    //FOOTER
    #crow7{
        border-top-left-radius:20px;
        border-top-right-radius:20px;
        .container{
            width:90%;
        }
        background-color: $footerBgColor;
        color:white;
        .footer{
            width:95%;
            padding:50px 0px 20px 0px;
        }
        .l1{
            padding:0px;
            img{
                width:100%;
                height:100%;
                padding:0px;
            }
        }
        .l2{
            padding-bottom: 20px;
            .l2-text{
                padding:0;
                padding-top:10px;
                font-size: 12px;
                font-weight:lighter;
            }
        }
        .l3{
            .l3-text{
                padding-left:0;
                padding:20px 0px 20px -15px;
                font-family: bahnschrift;
                font-size: 15px;
            }
        }
        .l4{
            .l4-text{
                padding-left:0;
                padding-top:10px;
                font-size: 12px;
                font-weight:lighter;
            }
        }
        #footer-middle{
            display:none;
        }
        .footer-right-wrapper{
            padding-right:0px;
        }
        .footer-right{
            padding:50px 5px 20px 10px;
            .row{
                padding:10px;
                padding-right:0px;
                #heading-wrapper{
                    padding:0;
                }
                #heading{
                    font-family: bahnschrift;
                    font-size: 14px;
                    padding:3px;
                    border-bottom: 1px solid white;
                }
                .glyphicon{
                    font-size:10px;
                    padding-right:4px;
                }
            }
            .r1,.r2,.r3,.r4{
                font-size:10px;
                font-weight:lighter;
            }
        }
        .footer-form-mobile{
            width:90%;
            padding:10px 0px;
            margin:0;
            max-width:300px;
            display: inline-block;
            .form-group{
                display: flex;
                #submit-glyph{
                    padding:2px 10px 2px 10px;
                }
                .form-control{
                    height:20px;
                }
            }
        }
    }
    .footer-ending{
        display:none;
    }
    .footer-ending-mobile{
        padding:20px;
        display: block;
        .footer-icon-header{
            font-size:15px;
        }
        .footer-links{
            padding:0px 50px;
            display:flex;
            justify-content:space-between;
        }
    }
    //END FOOTER
}
@media (min-width:768px) and (max-width:880px){
    #business-section{
        transform: translateY(-50vh);
    }
}
@media screen and (min-width:990px){
    .slider-main{
        display: none;
    }
}